.profpic{
  height: 300px!important;
  width: 300px!important;
}

.img-thumbnail{
  background-color: transparent!important;
  border:none!important;
  border-radius: 2%!important;
}

.page{
  background-image: url("./images/White\ Geometric.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 120px;
}

.jumbotron{
  background-color:#efd3d7!important;
  text-align: center;
  margin-bottom: 0px!important;
}

.about{
  line-height: 2;
}
